doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Make a Friend Club
    // Bootstrap Core CSS
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='../css/profile.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Make a Friend Club
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              if user
                a(href='../home/#{user.username}/1/anywhere') Home
              else
                a(href='/login') Home
            li.active
              if user
                a(href='../settings') Settings
              else
                a(href='/login') Settings
            li
              a(href='/logout') Logout
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      // Page Heading
      if err
        .col-lg-12.text-center
          #error_messages.alert.alert-warning #{errMsg}
      .col-lg-12.text-center
        if user
          a.btn.btn-default(href='../../settings') Settings
          a.btn.btn-default.active(href='../../profile') Profile
          a.btn.btn-default(href='../../tags') Tags
        else
          a.btn.btn-default(href='/index') Settings
          a.btn.btn-default.active(href='/index') Profile
          a.btn.btn-default(href='/index') Tags        
      .row
        .col-md-3
        .col-md-6.left-orange-bar.profile
          form.form-horizontal
            if user
              label(for='username') Username: #{user.username}
            else
              label(for='username') Username: You are not logged in!
            .form-group
              label.control-label.col-sm-4(for='firstName') First Name:
              .col-sm-8
                if user.profile && user.profile.firstName
                  input#firstName.form-control(type='text', value="#{user.profile.firstName}")
                else
                  input#firstName.form-control(type='text', placeholder='First Name')
            .form-group
              label.control-label.col-sm-4(for='lastName') Last Name:
              .col-sm-8
                if user.profile && user.profile.lastName
                  input#lastName.form-control(type='text', value="#{user.profile.lastName}")
                else
                  input#lastName.form-control(type='text', placeholder='Last Name')
            .form-group
              label.control-label.col-sm-4(for='yearOfBirth')
                | Year of Birth:
                span.required *
              .col-sm-8
                select#yearOfBirth
                  option(value="") Select
                  -var yearEnd = 1998; var yearStart = 1920; var i;
                  if user.profile && user.profile.yearOfBirth
                    - for (i = yearEnd; i > yearStart; i--){
                      if i == user.profile.yearOfBirth
                        option(value='#{i}', selected) #{i}
                      else
                        option(value='#{i}') #{i}
                    -}
                  else
                    - for (i = yearEnd; i > yearStart; i--){
                      option(value='#{i}') #{i}
                    -}
            .form-group
              label.control-label.col-sm-4(for='gender') Gender:
              .col-sm-8
                select#gender
                  - var gender_arr = ['Select','Female', 'Male', 'Nonbinary'];
                  if user.profile && user.profile.gender
                    - var gender_arr = ['Select','Female', 'Male', 'Nonbinary'];
                    - for(var i = 0; i < gender_arr.length; i++){
                      if gender_arr[i] == user.profile.gender
                        option(value='#{user.profile.gender}', selected) #{user.profile.gender}
                      else
                        option(value='#{gender_arr[i]}') #{gender_arr[i]}
                    - }
                  else
                    - for(var i = 0; i < gender_arr.length; i++){
                        option(value='#{gender_arr[i]}') #{gender_arr[i]}
                    - }
            .form-group
              label.control-label.col-sm-4(for='attracted') Attracted to:
              .col-sm-8
                select#attraction
                  - var attraction_arr = ['Select','Girls', 'Guys', 'Other'];
                  if user.profile && user.profile.attraction
                    - for(var i = 0; i < attraction_arr.length; i++){
                      if attraction_arr[i] == user.profile.attraction
                        option(value='#{user.profile.attraction}', selected) #{user.profile.attraction}
                      else
                        option(value='#{attraction_arr[i]}') #{attraction_arr[i]}
                    - }
                  else
                    - for(var i = 0; i < attraction_arr.length; i++){
                        option(value='#{attraction_arr[i]}') #{attraction_arr[i]}
                    - }
            .form-group
              label.control-label.col-sm-4(for='aboutMe') About Me:
              .col-sm-8
                if user.profile && user.profile.aboutMe
                  textarea#aboutMe(rows='6', cols='37', maxlength='1000', class="form-control") #{user.profile.aboutMe}
                else
                  textarea#aboutMe(rows='6', cols='37', maxlength='1000', class="form-control")
                #save_profile.btn.btn-primary Save Profile
            .form-group
              label.control-label.col-sm-4(for='location')
                | Location:
                span.required *
              .col-sm-8
                if user_location
                  input#autocomplete.form-control(type='text', value="#{user_location}")
                else
                  input#autocomplete.form-control(type='text', placeholder='start typing city, wait for autocomplete')
            .form-group
              .col-sm-offset-4.col-sm-8
                a#saveLoc.btn.btn-primary Save Location
                #profile_alerts
        .col-md-3
      // /.row
      br
      hr
      // Footer
      footer
        .row.text-center
          .col-lg-12
            p Copyright © Make a Friend Club 2016
        // /.row
    // /.container
    // jQuery
    script(src='../js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='../js/bootstrap.min.js')
    // Custom JS
    script(src='../js/profile.js')
    // Google Places Web API
    script(type="text/javascript", src!="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIxc-jEzD3Fen6Cfu1jVoO90uJso3z91s&libraries=places")    